* {
    margin: 0;
    padding: 0;
}

html {
    width: 100%;
    height: 100%;
}

body {
    background: #eee;
    width: 100%;
    height: 100%;
    /*border: solid 1px;*/
}

.swiper-container {
    width: 100%;
    height: 100%;
    /*border: solid 1px;*/
}

.swiper-slide {
    width: 100%;
    height: 100%;
    text-align: center;
   /* border: solid 1px;*/
}

/************************** page1 start*************************/
.page1_content{
	font-family:Helvetica,Arial,sans-serif;
	position:relative;
	top:0px;
	left:0px;
	width: 100%;
	height: 100%;
	background:url('../img/page1_bck.jpg');
	filter:"progid:DXImageTransform.Microsoft.AlphaImageLoader(sizingMethod='scale')";
	-moz-background-size:100% 100%;
	background-size:100% 100%;
	background-positon: 100%, 100%;
	background-repeat:no-repeat;
	z-index:1;
    overflow: hidden;
}

.page1_up {
    height:10%;
}

.page1_mid {
	position:relative;
	top:55%;
    height:35%;
    background-image: url(../src/img/blue_building.jpg);
    background-size:100% 100%;
	opacity:0.5;
	filter:alpha(opacity=50);
/*	background:url('./img/page2_background.jpg');
	filter:"progid:DXImageTransform.Microsoft.AlphaImageLoader(sizingMethod='scale')";
	-moz-background-size:100% 100%;
	background-size:100% 100%;
	background-positon: 100%, 100%;
	background-repeat:no-repeat;
	*/

}

.page1_down {
    height: 10%;
}

.page_1_blue {
    height:95%;
    width:100%;
    position:relative;
    top: 5%;
    left: 0px;

}

.page1_text {
    position: absolute;
    color:#9090ff;
	background:rgba(255,255,255,0.4);
	border-radius:10px;
	-moz-border-radius:10px; /* 老的 Firefox */
}

.text1{
    top:15%;
    left:10%;
    font:italic 20px Helvetica,Arial,sans-serif;
	clear:both;
}

.text2{
    top:30%;
    left:15%;
    font:16px Helvetica,Arial,sans-serif;
}

.text3{
    top:40%;
    left:30%;
    font:italic 30px Helvetica,Arial,sans-serif;
}

.text4{
    top:30%;
    left:60%;
    font:italic 20px Helvetica,Arial,sans-serif;
}

.text5{
    color:#ff9080;
    top:62%;
    left:5%;
    font:italic 20px Helvetica,Arial,sans-serif;
}

.text6{
    color:#ffff90;
    top:75%;
    left:35%;
    font-family:Helvetica,Arial,sans-serif;
    font-size: 28px;
}
/************************** page1 end  *************************/

/************************** page2 start*************************/
.img_photo
{
	margin: 10% 20% 10% 20%;
	width: 60%;
	height: 30%;
	float: left;
}


.page2_content
{
	position:relative;
	top:0px;
	left:0px;
	width: 100%;
	height: 100%;
	background:url('../img/page2_background.jpg');
	filter:"progid:DXImageTransform.Microsoft.AlphaImageLoader(sizingMethod='scale')";
	-moz-background-size:100% 100%;
	background-size:100% 100%;
	background-positon: 100%, 100%;
	background-repeat:no-repeat;
	z-index:1;
    overflow: hidden;
}

.zuoan_logo
{
	width: 20%;
	height: 6%;
	position:relative;
	top:5%;
	left:-30%;
	z-index:3;
}

.page2_white_bk
{
    position: absolute;
    left: 56%;
    top: -5%;
    width: 0;
    height: 120%;
    background-color: rgba(255,255,255,0.5);
    transform:rotate(7deg);
	z-index:2;
}

.page2_white_flash
{
    position: absolute;
    left: 26%;
    top: -5%;
    width: 0;
    height: 120%;
    background-color: rgba(255,255,255,1);
    transform:rotate(7deg);
    z-index:3;
}

.page2_title
{
	font-size:20px;
	font-family: "Open Sans",Helvetica,Arial,sans-serif;
	width: 60%;
	height: 10%;
	position:absolute;
	top:10%;
	left:35%;
	z-index:3;
}

.page2_img1
{
	width: 60%;
	height: 40%;
	position:absolute;
	top:20%;
	left:5%;
	z-index:1;
}

.page2_img2
{
	width: 55%;
	height: 26%;
	position:absolute;
	top:65%;
	left:40%;
	z-index:1;
}



.page2_list
{
	font-size:18px;
	font-family: "Open Sans",Helvetica,Arial,sans-serif;
	width: 25%;
	height: 10%;
	z-index:3;
	border-radius:5px;
	-moz-border-radius:5px; /* 老的 Firefox */
}
#page2_list_1
{
	position:absolute;
	font-size:16px;
	top:25%;
	left:35%;
	width: 55%;
	height: 4%;
	color:white;
	background-color:#202020;

}
#page2_list_2
{
	position:absolute;
	font-size:16px;
	top:40%;
	left:32%;
	width: 55%;
	height: 4%;
	color:white;
	background-color:#202080;
}
#page2_list_3
{
	position:absolute;
	font-size:16px;
	top:55%;
	left:29%;
	width: 55%;
	height: 4%;
	color:white;
	background-color:#202020;
}

#page2_list_4
{
	position:absolute;
	font-size:16px;
	top:70%;
	left:27%;
	width: 55%;
	height: 4%;
	color:white;
	background-color:#202080;
}
#page2_list_5
{
	position:absolute;
	font-size:16px;
	top:85%;
	left:25%;
	width: 55%;
	height: 4%;
	color:white;
	background-color:#202020;
}

/******************page2 end*************************/


/******************page3 start***********************/
.page3_content
{
	position:absolute;
	top:0px;
	left:0px;
	width: 100%;
	height: 100%;
	background:url('../img/page3_background.jpg');
	filter:"progid:DXImageTransform.Microsoft.AlphaImageLoader(sizingMethod='scale')";
	-moz-background-size:100% 100%;
	background-size:100% 100%;
	background-positon: 100%, 100%;
	background-repeat:no-repeat;
	z-index:1;
}

.page3_middle
{
	position:relative;
	top:5%;
	left:0px;
	width:100%;
	height:70%;
	background:rgba(16, 16, 150, 0.6);
}
.page3_point
{
	position:relative;
	margin: 10% 20% 10% 10%;
	top:15%;
	left:0%;
	width:40%;
	height:10%;
	border:4px solid #a1a1a1;
	padding:10px 40px;
	background:#ffffff;
	width:65%;
	border-radius:25px;
	-moz-border-radius:25px; /* 老的 Firefox */
	opacity:1;
	filter:alpha(opacity=100);
}
.page3_title
{
	font-size:20px;
	font-family: "Open Sans",Helvetica,Arial,sans-serif;
	width: 40%;
	height: 10%;
	position:absolute;
	top:10%;
	left:30%;
	z-index:1;
}

.page3_animated
	{
	position:relative;
	margin: 10% 20% 10% 10%;
	top:15%;
	left:0%;
	width:7.5%;
	height:7.5%;
	border:4px solid #a1a1a1;
	padding:10px 10px;
	background:#ffffff;
	border-radius:25px;
	-moz-border-radius:25px; /* 老的 Firefox */
	-webkit-transition:-webkit-transform 1s,opacity 1s,background 1s,width 1s,height 1s,font-size 1s;
	-webkit-border-radius:5px;
	-o-transition-property:width,height,-o-transform,background,font-size,opacity;
	-o-transition-duration:1s,1s,1s,1s,1s,1s;
	-moz-transition-property:width,height,-o-transform,background,font-size,opacity;
	-moz-transition-duration:1s,1s,1s,1s,1s,1s;
	transition-property:width,height,transform,background,font-size,opacity;
	transition-duration:1s,1s,1s,1s,1s,1s;
	overflow:hidden;
	}

.page3_animated:hover
	{
	font-size:12px;
	background:#1ec7e6;
	width:80%;
	height:40%;
	font-size:16px;
	}

.page3_animated:active
	{
	font-size:12px;
	background:#1ec7e6;
	width:80%;
	height:40%;
	font-size:16px;
	}
/************************** page3 end ************************************************/

/************************** page4 start **********************************************/
.page4_content
{
    position:absolute;
    top:0px;
    left:0px;
    width: 100%;
    height: 100%;
    background:url('../img/page4_bk.jpg');
    filter:"progid:DXImageTransform.Microsoft.AlphaImageLoader(sizingMethod='scale')";
    -moz-background-size:100% 100%;
    background-size:100% 100%;
    background-positon: 100%, 100%;
    background-repeat:no-repeat;
    z-index:0;
}
.page4_top {
    position: relative;
    border: solid 0px;
    width: 100%;
    height: 50%;
}

.page4_top_left {
    position: relative;
    border: solid 0px;
    width: 50%;
    height: 100%;
    float: left;
}

.page4_top_right {
    position: relative;
    border: solid 0px;
    width: 50%;
    height: 100%;
    float: left;
}
.page4_down {
    position: relative;
    border: solid 0px;
    width: 100%;
    height: 50%;
}

.page4_down_left {
    position: relative;
    border: solid 0px;
    width: 50%;
    height: 100%;
    float: left;
}

.page4_down_right {
    position: relative;
    border: solid 0px;
    width: 50%;
    height: 100%;
    float: left;
}

.page4_button1 {
    position: relative;

}


.page4_button {
    position: relative;
    color: rgba(255,255,255,1);
    text-decoration: none;
    background-color: rgba(219,87,5,1);
    font-family: 'Yanone Kaffeesatz';
    font-weight: 700;
    font-size: 1em;
    display: block;
    padding: 4px;
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    border-radius: 8px;
    -webkit-box-shadow: 0px 9px 0px rgba(219,31,5,1), 0px 9px 25px rgba(0,0,0,.7);
    -moz-box-shadow: 0px 9px 0px rgba(219,31,5,1), 0px 9px 25px rgba(0,0,0,.7);
    box-shadow: 0px 9px 0px rgba(219,31,5,1), 0px 9px 25px rgba(0,0,0,.7);
    margin: 30px auto;
    width: 160px;
    text-align: center;

    -webkit-transition: all .1s ease;
    -moz-transition: all .1s ease;
    -ms-transition: all .1s ease;
    -o-transition: all .1s ease;
    transition: all .1s ease;
}

.page4_button:active {
    -webkit-box-shadow: 0px 3px 0px rgba(219,31,5,1), 0px 3px 6px rgba(0,0,0,.9);
    -moz-box-shadow: 0px 3px 0px rgba(219,31,5,1), 0px 3px 6px rgba(0,0,0,.9);
    box-shadow: 0px 3px 0px rgba(219,31,5,1), 0px 3px 6px rgba(0,0,0,.9);
    position: relative;
    top: 6px;
}


ol{
    position: relative;
	top: 30%;
    counter-reset: li;
    list-style: none;
    *list-style: decimal;
    font: 15px 'trebuchet MS', 'lucida sans';
    padding: 0;
    margin-bottom: 4em;
    text-shadow: 0 1px 0 rgba(255,255,255,.5);
    width: 70%;
    left: 20%;
}

ol ol{
    margin: 0 0 0 2em;
}

.rounded-list .page4_list{
    position: relative;
    display: block;
    padding: .4em .4em .4em 2em;
    *padding: .4em;
    margin: .5em 0;
    background: #ddd;
    color: #444;
    text-decoration: none;
    -moz-border-radius: .3em;
    -webkit-border-radius: .3em;
    border-radius: .3em;
    -webkit-transition: all .3s ease-out;
    -moz-transition: all .3s ease-out;
    -ms-transition: all .3s ease-out;
    -o-transition: all .3s ease-out;
    transition: all .3s ease-out;
}

.rounded-list .page4_list:hover{
    background: #eee;
}

.rounded-list .page4_list:hover:before{
    -moz-transform: rotate(360deg);
    -webkit-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
}

.rounded-list .page4_list:before{
    content: counter(li);
    counter-increment: li;
    position: absolute;
    left: -1.3em;
    top: 50%;
    margin-top: -1.3em;
    background: #87ceeb;
    height: 2em;
    width: 2em;
    line-height: 2em;
    border: .3em solid #fff;
    text-align: center;
    font-weight: bold;
    -moz-border-radius: 2em;
    -webkit-border-radius: 2em;
    border-radius: 2em;
    -webkit-transition: all .3s ease-out;
    -moz-transition: all .3s ease-out;
    -ms-transition: all .3s ease-out;
    -o-transition: all .3s ease-out;
    transition: all .3s ease-out;
}

.page4_list_content {
	color: rgba(255,255,255,1);
}
.page4_down_right_circle {
	position: absolute;
	left: 10%;
	top: 20%;
	width: 75%;
	height: 45%;
	background-color: rgba(0,0,0,0);
	border: 3px #a72525 solid;
	-webkit-border-radius: 50%;
}

.page4_down_right_title {
	position: absolute;
	top:5%;
	left:25%;
	padding:5px;
	width:50%;
	height:4%;
	border: 0px solid #000000;
	background-color: snow;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	border-radius: 5px;
}

.page4_down_right_reason {
	position: absolute;
	padding:10px;
	width:20%;
	height:4%;
	border: 0px solid #000000;/*
	-moz-border-radius: 50px;
	-webkit-border-radius: 50px;
	border-radius: 50px;*/
	background-color: #ff9080;
}

.page4_down_right_reason1 {
	left: 35%;
	top: 17%;
}

.page4_down_right_reason2 {
	left: 0%;
	top: 35%;
}

.page4_down_right_reason3 {
	left: 70%;
	top: 35%;
}

.page4_down_right_reason4 {
	left: 15%;
	top: 55%;
}

.page4_down_right_reason5 {
	left: 55%;
	top: 55%;
}
/************************** page4 end   **********************************************/

/************************** page5 start add by wk 2015-05031 *************************/
.page5_content
{
	position:absolute;
	top:0px;
	left:0px;
	width: 100%;
	height: 100%;
	background:url('../img/page5_bk.jpg');
	filter:"progid:DXImageTransform.Microsoft.AlphaImageLoader(sizingMethod='scale')";
	-moz-background-size:100% 100%;
	background-size:100% 100%;
	background-positon: 100%, 100%;
	background-repeat:no-repeat;
	z-index:0;
}
.page5_up {
	position: relative;
	border: solid 0px;
	width: 100%;
	height:30%;
}
.page5_up_1 {
	position: relative;
	border: solid 0px red;
	width: 40%;
	height:50%;
	/*background-image: url(../src/img/page_2_logo.png);
	background-size:100% 100%;*/
}
.page5_up_2 {
	position: relative;
	border: solid 0px green;
	left: 60%;
	width: 40%;
	height:50%;
	/*background-image: url(../src/img/web_addr.png);
	background-size:100% 100%;*/
}

.page5_mid {
	position: relative;
	border: solid 0px;
	width: 100%;
	height:40%;
	/*background-image: url(../src/img/page5_sky.jpg);*/
	background-size:100% 100%;
}
/* red balloon */
.page5_mid_1 {
	position: relative;
	border: solid 0px red;
	top: -30%;
	left:0%;
	width: 10%;
	height: 15%;
	z-index: 1;
}
/* white balloon */
.page5_mid_2 {
	position: relative;
	border: solid 0px green;
	top: -45%;
	left: 15%;
	width: 10%;
	height: 15%;
	z-index: 2;
}
/* blue balloon */
.page5_mid_3 {
	position: relative;
	border: solid 0px gold;
	top: -50%;
	left: 30%;
	width: 10%;
	height: 15%;
	z-index: 1;
}
/* tower */
.page5_mid_4 {
	position: relative;
	border: solid 0px pink;
	top: -85%;
	left: 60%;
	width: 10%;
	height: 40%;
	z-index: 4;
}
.page5_mid_5 {
	position: relative;
	border: solid 0px palevioletred;
	top: 0%;
	left:60%;
	width: 40%;
	height: 35%;
	/*background-image: url(../src/img/wechat_no.png);
	background-size:100% 100%;*/
	z-index: 5;
}
.page5_down {
	border: solid 0px lightsalmon;
	height: 30%;
}
.page5_down_1 {
	position: relative;
	border: solid 0px red;
	left:40%;
	top: 40%;
	width: 25%;
	height: 40%;
	/*background-image: url(../src/img/telephone_pic.png);*/
	/*opacity: 0.3;*/
	background-size:20% 40%;
	background-repeat: no-repeat;
}
/************************** page5 end add by wk 2015-05031 *************************/